:root {
  --code-keyword: #c6a0f6;
  --code-string: #a6da95;
  --code-property: #cad3f5;
  --code-punctuation: #cad3f5;
  --code-brackets: #8caaee;
  --code-identifier: #f5bde6;
  --code-text: #cad3f5;
  --code-number: #ef9f76;
}
